@define-color black #241b20;
@define-color neon-blue-dark #0077b6;
@define-color neon-blue #00b4d8;
@define-color dark-blue #003b5b; /* hover */
@define-color violet #8806ce;
@define-color chartreuse #7fff00;
@define-color orange #ff7900;
@define-color blue #0071c5;
@define-color red #cc241d;
@define-color lavender #e6e6fa;
@define-color lime #c5e800;
@define-color gold #ffd700;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 20px;
  min-height: 0;
  color: @neon-blue;
}

window#waybar {
  background: linear-gradient(180deg, alpha(@black, 0.6), alpha(@black, 0.1));
}

#window label {
  font-size: 18px;
}

/* Workspace Buttons */
#workspaces {
  padding: 0 5px;
  border-left: 5px solid @neon-blue-dark;
  border-right: 5px solid @neon-blue-dark;
}

#workspaces button label{
  color: @neon-blue;
}
#workspaces button.active label {
  color: @black;
}
#workspaces button.active {
  background: @neon-blue-dark;
  border-radius: 5px;
}
#workspaces button:hover {
  background: @dark-blue;
  border-radius: 5px;
  text-shadow: unset;
  box-shadow: unset;
}
#workspaces button.active:hover {
  background: @neon-blue-dark;
}

#pulseaudio, #disk, #memory, #cpu {
  padding: 0 10px;
  margin: 0;
}

#custom-power {
  color: @black;
  background: linear-gradient(135deg, @violet, @neon-blue);
  border-radius: 5px 0px 0px 20px;
  margin: 0 0 0 5px;
  padding: 0 15px 0 25px;

}

#custom-icon {
  font-size: 30px;
  color: @black;
  background: url('./flake.svg') center / contain no-repeat border-box padding-box rgba(0,0,0,0);
  /*background: linear-gradient(225deg, @violet, @neon-blue);
*/
  border-radius: 0px 5px 20px 0px;
  margin: 0 10px 0 0;
  padding: 0 20px 0 20px;
  text-shadow: unset;
  box-shadow: unset;
}

#custom-power:hover {
  background: linear-gradient(135deg, @violet, @neon-blue-dark);
  text-shadow: unset;
  box-shadow: unset;
}

#custom-icon:hover {
  background: image(alpha(@black, 0.3)) center no-repeat border-box padding-box, url('./flake.svg') center / contain no-repeat border-box padding-box rgba(0,0,0,0);  
}

#hardware {
  margin: 0 5px;
  padding: 0 10px 0 0;
  border-radius: 5px 20px 20px 5px;
  background: radial-gradient(alpha(@neon-blue, 0.8), alpha(@violet, 0.8));
}

#net-audio-bat {
  margin: 0 5px;
  padding: 0;
  border-radius: 20px 5px 5px 20px;
  background: linear-gradient(255deg, alpha(@violet, 0.8), alpha(@blue, 0.8), alpha(@violet, 0.8), alpha(@neon-blue, 0.8), alpha(@neon-blue, 0.8));
}

#network:hover, #pulseaudio:hover, #battery:hover {
  background: alpha(@black, 0.1)
}

#network {
  margin: 0;
  color: @lavender;
  padding: 0 20px 0 25px;
  border-radius: 20px 0 0 20px;
}

#disk {
  margin: 0;
  color: @lime;
}

#memory {
  margin: 0;
  color: @black;
}

#cpu {
  margin: 0;
  color: @gold;
}

#language {
  margin: 0 5px;
  padding: 0;
  background: linear-gradient(345deg, alpha(@neon-blue, 0.8), alpha(@violet, 0.8), alpha(@violet, 0.8));
  border-radius: 0 0 20px 20px;
}

#pulseaudio {
  margin: 0;
  color: @chartreuse;
}

#pulseaudio.muted {
  padding: 0 33px;
  color: @red;
}

#battery {
  margin: 0;
  padding: 0 10px;
  color: @orange;
  border-radius: 0 5px 5px 0;
}

#clock {
  margin: 0 5px 0 0;
  padding: 0 40px;
  font-size: 22px;
  color: @black;
  background: radial-gradient(@neon-blue, @blue, @violet);
  border-radius: 30px 5px 30px 5px;
}

#mpris {
  min-width: 20em;
}

#mpris, #cava {
  margin: 0 10px;
  font-size: 18px;
}

#taskbar button:hover {
  background: alpha(@neon-blue, 0.5);
  border-radius: 5px;
}
