@define-color black #1d2021;
@define-color neon-blue-dark #0077b6;
@define-color neon-blue #00b4d8;
@define-color dark-blue #003b5b; /* hover */
@define-color violet #8806ce;
@define-color pale-green #689d6a;
@define-color pale-red #f25278;
@define-color pale-pink #b16286;
@define-color orange #ff7900;
@define-color blue #0071c5;
@define-color red #cc241d;
@define-color pale-cyan #458588;
@define-color waybar-top rgba(50,27,38,0.6);
@define-color waybar-bottom rgba(50,27,38,0.1);

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 20px;
  min-height: 0;
  color: @neon-blue;
}

window#waybar {
  background: linear-gradient(180deg, @waybar-top, @waybar-bottom);
}

#window label {
  font-size: 18px;
}

/* Workspace Buttons */
#workspaces {
  padding: 0 5px;
  border-left: 5px solid @neon-blue-dark;
  border-right: 5px solid @neon-blue-dark;
}

#workspaces button label{
  color: @neon-blue;
}
#workspaces button.active label {
  color: @black;
}
#workspaces button.active {
  background: @neon-blue-dark;
  border-radius: 5px;
}
#workspaces button:hover {
  background: @dark-blue;
  text-shadow: unset;
  box-shadow: unset;
}
#workspaces button.active:hover {
  background: @neon-blue-dark;
}

#clock, #battery, #pulseaudio, #network, #tray, #language, #weather, #disk, #memory, #cpu {
  padding: 0 10px;
  margin: 0;
}

#custom-power {
  color: @black;
  background: linear-gradient(135deg, @violet, @neon-blue);
  border-radius: 5px 0px 0px 20px;
  margin: 0 0 0 10px;
  padding: 0 15px 0 25px;

}

#custom-icon {
  font-size: 30px;
  color: @black;
  background: linear-gradient(225deg, @violet, @neon-blue);
  border-radius: 0px 5px 20px 0px;
  margin: 0 10px 0 0;
  padding: 0 25px 0 15px;
}

#custom-power:hover {
  background: @dark-blue;
  background: linear-gradient(135deg, @violet, @neon-blue-dark);
  text-shadow: unset;
  box-shadow: unset;
}

#custom-icon:hover {
  background: @dark-blue;
  background: linear-gradient(225deg, @violet, @neon-blue-dark);
  text-shadow: unset;
  box-shadow: unset;  
}

#hardware {
  padding: 0;
}

#network {
  margin: 0;
  color: @violet;
}

#disk {
  margin: 0;
  color: @pale-red;
}

#memory {
  margin: 0;
  color: @orange;
}

#cpu {
  margin: 0;
  color: @blue;
}

#language {
  margin: 0;
  padding: 0;
}

#pulseaudio {
  margin: 0;
  color: @pale-green;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: @red;
}

#battery {
  margin: 0;
  color: @pale-cyan;
}

#clock {
  margin: 0;
  color: @pale-pink;
}

#tray {
  margin: 0;
}
